<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" shutdownHook="disable">

  <Properties>
    <!-- 在当前目录下创建名为log目录做日志存放的目录 -->
    <Property name="LOG_HOME" value="./logs"/>
    <!-- 日志文件大小，超过这个大小将被压缩 -->
    <Property name="LOG_MAX_SIZE" value="1 MB"/>
    <!--interval属性用来指定多久滚动一次-->
    <Property name="TIME_BASED_INTERVAL" value="1"/>
  </Properties>


  <Loggers>
    <Root level="INFO" includeLocation="false">
      <AppenderRef ref="console"/>
      <AppenderRef ref="game_console"/>
      <AppenderRef ref="game_error"/>
    </Root>

    <Logger name="game_sys" additivity="false">
      <AppenderRef ref="game_system"/>
    </Logger>
  </Loggers>
  <Appenders>
    <!-- <Console name="game_system_console" target="SYSTEM_OUT" >
         <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
         <PatternLayout>
             <Pattern>%d [%-p] [%X{game_id}] [%t] %c{1}.%M - %m%n</Pattern>
         </PatternLayout>
     </Console>-->

    <Routing name="console">
      <!-- This route is chosen if ThreadContext has no value for key game_id. -->
      <Routes pattern="$${ctx:game_id}">
        <Route key="$${ctx:game_id}">
          <Console name="game_system_console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
          </Console>
        </Route>

        <Route>
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <Console name="game_system_console" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%X{game_id}] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
          </Console>
        </Route>
      </Routes>
    </Routing>

    <Routing name="game_console">
      <!-- This route is chosen if ThreadContext has no value for key game_id. -->
      <Routes pattern="$${ctx:game_id}">
        <Route key="$${ctx:game_id}">
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <RollingFile name="console_file"
            fileName="${LOG_HOME}/commom/console.log"
            filePattern="${LOG_HOME}/commom/$${date:yyyy-MM-dd}/console_%d{yyyyMMddHH}.log">

            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
              <SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
            </Policies>
          </RollingFile>
        </Route>

        <Route>
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <RollingFile name="console_file"
            fileName="${LOG_HOME}/${ctx:game_id}/${ctx:game_id}_console.log"
            filePattern="${LOG_HOME}/${ctx:game_id}/$${date:yyyy-MM-dd}/${ctx:game_id}_console_%d{yyyyMMddHH}.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
              <SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <!-- <DefaultRollOverStrategy max="30" /> -->
          </RollingFile>
        </Route>
      </Routes>
    </Routing>

    <Routing name="game_error">
      <Routes pattern="$${ctx:game_id}">
        <!-- This route is chosen if ThreadContext has no value for key game_id. -->
        <Route key="$${ctx:game_id}">
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <RollingFile name="error_file"
            fileName="${LOG_HOME}/commom/error.log"
            filePattern="${LOG_HOME}/commom/$${date:yyyy-MM-dd}/error_%d{yyyyMMddHH}.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
              <SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <!-- <DefaultRollOverStrategy max="30" /> -->
          </RollingFile>
        </Route>

        <Route>
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <RollingFile name="error_file"
            fileName="${LOG_HOME}/${ctx:game_id}/${ctx:game_id}_error.log"
            filePattern="${LOG_HOME}/${ctx:game_id}/$${date:yyyy-MM-dd}/${ctx:game_id}_error_%d{yyyyMMddHH}.log">
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
              <SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <!-- <DefaultRollOverStrategy max="30" /> -->
          </RollingFile>
        </Route>
      </Routes>
    </Routing>

    <Routing name="game_system">
      <Routes pattern="$${ctx:game_sys_log}">
        <Route>
          <!-- 同一来源的Appender可以定义多个RollingFile，定义按天存储日志 -->
          <RollingFile name="sys_file"
            fileName="${LOG_HOME}/sys/${ctx:game_sys_log}.log"
            filePattern="${LOG_HOME}/sys/$${date:yyyy-MM-dd}/${ctx:game_sys_log}_%d{yyyyMMdd}.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <Pattern>%d [%-p] [%t] %c{1}.%M - %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy interval="${TIME_BASED_INTERVAL}"/>
              <SizeBasedTriggeringPolicy size="${LOG_MAX_SIZE}"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认同一文件夹下最多保存7个文件-->
            <!-- <DefaultRollOverStrategy max="30" /> -->
          </RollingFile>
        </Route>
      </Routes>
    </Routing>

  </Appenders>
</Configuration>

